.ContactForm label {
  color: var(--neon-green);
  background-color: transparent;
}

.ContactForm div {
  display: grid;
}

.ContactForm div input,
.ContactForm div textarea {
  width: 80vw;
  height: 50px;
  background-color: var(--white);
  border-radius: 10px;
  font-size: 20px;
  margin: 4px 0 14px 0;
  outline: none;
  border: 3px solid var(--neon-green);
  box-sizing: border-box;
}

.ContactForm div textarea {
  height: 210px;
}

.ContactForm button {
  width: 130px;
  height: 42px;
  background: var(--neon-green);
  border-radius: 10px;
  font-size: 18px;
  color: var(--navy-blue);
  border: none;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

@media (min-width: 414px) {
  .ContactForm div input,
  .ContactForm div textarea {
    width: 72vw;
  }
}

@media (min-width: 768px) {
  .ContactForm {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-areas:
      "first last"
      "email email"
      "message message";
    column-gap: 22px;
  }

  .ContactForm__Input__FirstName {
    grid-area: first;
  }

  .ContactForm__Input__LastName {
    grid-area: last;
  }

  .ContactForm__Input__Email {
    grid-area: email;
  }

  .ContactForm__TextArea__Message {
    grid-area: message;
  }

  .ContactForm div input,
  .ContactForm div textarea {
    width: 100%;
  }
}
