.Intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  /* min-height: 100vh; */
}

.Intro p {
  background-color: transparent;
}

.Intro__LineOne {
  font-size: xx-large;
  font-family: Fira Code;
  font-size: clamp(23px, 4vw, 42px);
  padding-bottom: 10px;
}

.KIRK {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  color: var(--neon-green);
}

.Intro__LineTwo {
  font-family: Roboto;
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: clamp(32px, 6vw, 99px);
  line-height: 1em;
  margin: 0.25em 0 0.75em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Intro__LineThree {
  display: block;
  justify-content: left;
  margin-left: 0.25em;
  list-style: square inside;
  text-indent: -20px;
  margin-left: 20px;
  font-size: clamp(16px, 1.5vw, 23px);
}

.Intro__LineThree li:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 414px) {
  .Intro {
    padding: 0 4% 0 7%;
  }
}

@media (min-width: 650px) {
  .Intro {
    padding: 0 4% 0 15%;
  }
}

@media (min-width: 1600px) {
  .Intro {
    padding: 0;
  }
}
