.Technologies__Logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  gap: 45px;
  fill: var(--white);
}

.Technologies__Logos svg {
  width: 60px;
}
