:root {
  --neon-green: #adff00;
  --dark-blue: #000638;
  --navy-blue: #282d5a;
  --white: #ffffff;
  --gray: #b2b4c3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  background: var(--dark-blue);
  color: var(--gray);
}

h1,
h2 {
  font-family: Roboto;
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 24px;
  color: var(--neon-green);
}

h2 {
  font-weight: bold;
  line-height: 56px;
  font-size: 36px;
  margin-bottom: -7px;
  color: var(--neon-green);
  padding-top: 50px;
}

p {
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  font-size: clamp(16px, 1.5vw, 20px);
}

main {
  min-height: 100vh;
}

section {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 7em;
}

.Content {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 clamp(0px, 10vw, 250px) 0;
}

@media (min-width: 414px) {
  section {
    padding-left: 50px;
  }
  .Contact__Component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px 65px;
    padding-left: 0;
  }
  footer {
    padding: 150px 0 25px 50px;
  }
}

@media (min-width: 1600px) {
  section {
    padding: 0 5% 0 0;
  }
  section p {
    padding: 0 5% 0 5%;
  }
}
